{% extends "layout.html" %}
{% block body %}
{#  {% if session.logged_in %}#}
{#    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">#}
{#      <dl>#}
{#        <dt>Title:#}
{#        <dd><input type="text" size="30" name="title">#}
{#        <dt>Text:#}
{#        <dd><textarea name="text" rows="5" cols="40"></textarea>#}
{#        <dd><input type="submit" value="Share">#}
{#      </dl>#}
{#    </form>#}
{#  {% endif %}#}
  <table class="entries">
    <tr>
      <th>Date</th>
      <th>Voiture</th>
      <th>Place</th>
    </tr>
    <tbody data-bind="foreach: list">
      <tr class="lighten-2" data-bind="css: { teal: seat_number == 23 }">
        <td data-bind="text: pressed_at"></td>
        <td data-bind="text: carriage"></td>
        <td data-bind="text: seat_number"></td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    var model = {
      list: ko.observableArray({{ entries | safe }})
    };

    ko.applyBindings(model);

    setInterval(function () {
      $.getJSON("/api/list", function(data) {
          model.list(data);
      })
    }, 1000);
  </script>
{% endblock %}
